.button {
}

.disabled {
}

.secondary {
    color: blue;
}

.default {
    background: blue;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    background: inherit;
    opacity: 0.5;
    color: #002E5C;
}
