.container {
}

.wrapper {
    width: 30vw;
    display: flex;
    gap: 20px;
}

.number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
